.home {
    background-color: #efefef;
    flex: 1;
    .list {
        list-style: none;
        padding: 0;
        background-color: white;
        display: flex;
        flex-direction: column;
        li {
            display: flex;
        }
        a {
            flex: 1;
            text-decoration: none;
        }
        button {
            width: 100%;
            padding: 0;
        }
    }
    .motion-element {
        position: absolute;
        bottom: 25px;
        left: 50%;
    }
}