@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.screen-content {
    overflow: hidden!important;
}
.cards {
    overflow: hidden;
}
.card-list {
    height: 100vh;
    overflow: scroll;
    margin-bottom: 15px;
    justify-content: unset!important;
}