@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
}
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.screen-content {
  overflow: hidden !important;
}
body {
  overscroll-behavior: none;
}
div.app {
  width: 100vw;
  height: 100vh;
}
div.screen-fallback::before {
  position: absolute;
  text-align: center;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 64px;
  background-color: rgba(254, 226, 85);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
}
div.details.screen-fallback::before {
  content: "Details";
}
div.tiles.screen-fallback::before {
  content: "Tiles Demo";
}
div.cards.screen-fallback::before {
  content: "Cards Demo";
}
div.cards-2.screen-fallback::before {
  content: "Cards Demo 2";
}
div.screen-fallback {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
div.screen-fallback.slides {
  background-color: rgb(46, 46, 46);
}