.details {
    background-color: white;
}
.details button, .post button {
    left: 0;
    top: 0;
    z-index: 1;
}
.details .text-content {
    padding: 15px;
}
.details .text-content p {
    text-align: justify;
    line-height: 1.5rem;
    height: auto;
    overflow: hidden;
    text-overflow: clip;
    width: 313px;
}
.details .card-bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 0;
}
.details .profile-info .text-content,
.details .profile-info img {
    position: static;
    z-index: 1;
}
.details .description {
    width: calc(100vw - 30px);
    display: flex;
    justify-content: center;
}
.details .profile-info {
    align-items: center;
}
.profile-info {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: hidden;
}
.profile-info img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 0;
    object-fit: cover;
}