.home {
    background-color: #efefef;
    flex: 1;
    padding-top: 64px;
}
.home .list {
    background-color: white;
    display: flex;
    flex-direction: column;
}
.home .list button {
    padding: 0;
}
.home .motion-element {
    position: absolute;
    bottom: 25px;
    left: 50%;
}
.home .list {
    list-style: none;
    padding: 0;
}
.home .list li {
    display: flex;
}
.home .list a {
    flex: 1;
    text-decoration: none;
}
.home .list button {
    width: 100%;
}