.home {
    background-color: #efefef;
    flex: 1;
}
.home .list {
    background-color: white;
    display: flex;
    flex-direction: column;
}
.home .list button {
    padding: 0;
}
.home .motion-element {
    position: absolute;
    bottom: 25px;
    left: 50%;
}