.navbar {
  height: 64px;
  background-color: rgba(254, 226, 85);
  position: fixed;
  top: 0px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.navbar .back {
  position: absolute;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suspense .navbar .back {
  animation: back-fade-in .5s ease forwards;
}
@keyframes back-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
