.tabs-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
}
.tabs-nav .header-layout {
    display: flex;
}
.tabs-nav .header-layout button {
    flex: 1;
    border-radius: 0;
    border: none;
    font-size: 1rem;
    padding: 15px;
}