/* disable swipe navigation */
html, body {
  overscroll-behavior: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.screen {
  position: absolute;
  will-change: transform, opacity;
}
#ghost-layer {
  position: absolute;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
.animation-provider {
  position: absolute;
}