.details {
  .profile-info 
  .gradient-overlay {
    color: transparent;
    height: 100px;
    width: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: black; /* css can't animate background linear-gradient */
    opacity: 0;
    clip-path: inset(0px -100vw -100vh 0px);
  }
  .text-content {
    padding: 15px;
  }
  &.suspense .text-content,
  &.suspense button {
    animation: details-fade-in .5s ease forwards;
  }
  &.suspense .text-content p,
  &.suspense .text-content #title {
    animation: details-content-slide .5s ease-out forwards;
    transform: translateY(15px);
  }
  &.suspense .text-content p {
    animation-duration: .6s;
  }
  .text-content p {
    text-align: justify;
    line-height: 1.5rem;
    height: auto;
    overflow: hidden;
    text-overflow: clip;
    width: 313px;
    max-width: calc(100vw - 52px);
    clip-path: inset(0px -100vw -100vh 0px);
  }
  .card-bg {
    width: 100vw;
    height: 100vh;
    clip-path: inset(0px -100vw -100vh 0px);
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 0;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 0%);
  }
  .profile-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: hidden;
    img {
      width: 100%;
      max-width: 1000px;
      height: auto;
      border-radius: 0;
      object-fit: cover;
      clip-path: inset(0px -100vw -100vh 0px);
      &:empty {
        background-color: #efefef;
        color: transparent;
      }
    }
    .text-content,
    img {
      position: static;
      z-index: 1;
    }
  }
}
.details button,
.post button {
  left: 0;
  top: env(safe-area-inset-top);
  z-index: 1;
}
@keyframes details-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes details-content-slide {
  from {
    transform: translateY(15px);
  }
  to {
    transform: translateY(0);
  }
}
.details .profile-info 
.details .description {
  width: calc(100vw - 30px);
  display: flex;
  justify-content: center;
}