.navbar {
  padding: calc(env(safe-area-inset-top) * 1.25) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  min-height: calc(64px - env(safe-area-inset-top));
  background-color: rgba(254, 226, 85);
  position: sticky;
  top: 0px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.navbar .back {
  position: absolute;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .back svg {
  color: black;
}
.suspense .navbar .back {
  animation: back-fade-in .5s ease forwards;
}
@keyframes back-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
