.tile {
    width: 49vw;
    height: calc(30vw - 2px);
    transition: width 1s ease;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        &:empty {
            background-color: #efefef;
            width: 49vw;
            height: calc(30vw - 2px);
        }
    }
}